.NotFoundLight {
  color: #000000;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.NotFoundLightPar {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.NotFoundDark {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.NotFoundDarkPar {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
